.color{
    color: #551B74;
}
.btn{
    background: #551B74;
    border-color: #551B74;
}
.btn-reverse{
    background: #994bc2;
    border-color: #994bc2;
}
.btn:hover{
    background: #994bc2;
    border-color: #994bc2;
}
.btn-reverse:hover{
    background: #551B74;
    border-color: #551B74;
}
.btn-6, .btn-7, .btn-8, .btn-9, .btn-10 {
    border-color: #551B74;
    color: #551B74;
    background-color: transparent !important;
}
.btn-6:hover, .btn-7:hover, .btn-8:hover, .btn-9:hover, .btn-10:hover {
    border-color: #994bc2;
    color: #994bc2;
    background-color: transparent !important;
}
.btn-11 {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #551B74;
}
.btn-11:hover {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #994bc2;
}
#gotoTop{
    background: #551B74;
}
#gotoTop:hover{
    background: #994bc2;
}
.bg_colo_2{
    background: #994bc2;
}
.bg_colo_1{
    background: #551B74;
}
.icon-circle .fa, .icon-circle .fab, .icon-circle .far, .icon-circle .fas{
    color: #551B74;
}

.icon-circle .fa:hover, .icon-circle .fab:hover, .icon-circle .far:hover, .icon-circle .fas:hover{
    background-color: #994bc2;
}

section.section blockquote{
    border-color: #551B74;
}

.icon-circle2 .fa, .icon-circle2 .fab, .icon-circle2 .far, .icon-circle2 .fas{
    background-color: #551B74;
}
