@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/DroidKufi-Regular.eot);
    src: url(../../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../../fonts/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/DroidKufi-Regular.woff) format('woff'), url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: Bold;
    font-weight: 700;
    src: url(../../fonts/DroidKufi-Bold.eot);
    src: url(../../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../../fonts/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/DroidKufi-Bold.woff) format('woff'), url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}

/* Amiri */
@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Amiri/Amiri-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Amiri/Amiri-Bold.ttf) format('truetype');
}

/* Cairo */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Cairo/Cairo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Cairo/Cairo-Bold.ttf) format('truetype');
}

/* Tajawal */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Tajawal/Tajawal-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Tajawal/Tajawal-Bold.ttf) format('truetype');
}

/* Changa */
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Changa/Changa-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Changa/Changa-Bold.ttf) format('truetype');
}

/* Lalezar */
@font-face {
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Lalezar/Lalezar-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Lalezar/Lalezar-Regular.ttf) format('truetype');
}

/* El Messiri */
@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/El_Messiri/ElMessiri-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/El_Messiri/ElMessiri-Bold.ttf) format('truetype');
}

/* Reem Kufi */
@font-face {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Reem_Kufi/ReemKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Reem_Kufi/ReemKufi-Regular.ttf) format('truetype');
}

/* Lateef */
@font-face {
    font-family: 'Lateef';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Lateef/Lateef-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lateef';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Lateef/Lateef-Regular.ttf) format('truetype');
}

/* Scheherazade */
@font-face {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Scheherazade/Scheherazade-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Scheherazade/Scheherazade-Bold.ttf) format('truetype');
}

/* Lemonada */
@font-face {
    font-family: 'Lemonada';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Lemonada/Lemonada-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lemonada';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Lemonada/Lemonada-Bold.ttf) format('truetype');
}

/* Markazi Text */
@font-face {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Markazi_Text/MarkaziText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Markazi_Text/MarkaziText-Bold.ttf) format('truetype');
}

/* Mada */
@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Mada/Mada-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Mada/Mada-Bold.ttf) format('truetype');
}

/* Baloo Bhaijaan */
@font-face {
    font-family: 'Baloo Bhaijaan';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Baloo Bhaijaan';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.ttf) format('truetype');
}

/* Mirza */
@font-face {
    font-family: 'Mirza';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Mirza/Mirza-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mirza';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Mirza/Mirza-Bold.ttf) format('truetype');
}

/* Aref Ruqaa */
@font-face {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Aref_Ruqaa/ArefRuqaa-Bold.ttf) format('truetype');
}

/* Harmattan */
@font-face {
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Harmattan/Harmattan-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Harmattan/Harmattan-Regular.ttf) format('truetype');
}

/* Katibeh */
@font-face {
    font-family: 'Katibeh';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Katibeh/Katibeh-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Katibeh';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Katibeh/Katibeh-Regular.ttf) format('truetype');
}

/* Rakkas */
@font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Rakkas/Rakkas-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Rakkas/Rakkas-Regular.ttf) format('truetype');
}

/* Jomhuria */
@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    src: url(../../../google_fonts/Jomhuria/Jomhuria-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 700;
    src: url(../../../google_fonts/Jomhuria/Jomhuria-Regular.ttf) format('truetype');
}

body * {
    font-family: 'Droid Arabic Kufi';
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.btn {
    padding: 5px 12px;
    font-size: 18px;
}

.btn-reverse{
    padding: 15px 20px;
}

.btn{
    border-width: 2px;;
}
.btn-1{
    border-radius: 0px !important;
}
.btn-2{
    border-radius: 4px !important;
}
.btn-3{
    border-radius: 10px !important;
}
.btn-4{
    border-radius: 20px !important;
}
.btn-4.btn-reverse{
    border-radius: 50% !important;
}
.btn-5{
    border-radius: 20px 0px 20px 0px !important;
}
.btn-2{
    border-radius: 4px !important;
}
.btn-6{
    border-radius: 0px !important;
    background-color: transparent !important;
}
.btn-7{
    border-radius: 4px !important;
    background-color: transparent !important;
}
.btn-8{
    border-radius: 10px !important;
    background-color: transparent !important;
}
.btn-9{
    border-radius: 20px !important;
    background-color: transparent !important;
}
.btn-10{
    border-radius: 20px 0px 20px 0px !important;
    background-color: transparent !important;
}
.btn-11{
    border-color: transparent !important;
    background-color: transparent !important;
}

.section {
    padding: 60px 0px;
    position: relative;
}

#gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: 30px;
    right: auto;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

.gray-border {
    border: 2px solid #cacaca;
    padding: 25px 15px;
}

.padding-block {
    padding: 0px 7%
}

.pricing-box {
    background: #fff;
    overflow: hidden;
    padding: 40px 35px 35px;
    text-align: center;
    box-shadow: 0 0 15px 1px #e6e6e6;
    margin: 1.5em 0;
}

.pricing-box-featured{
    z-index: 10;
    margin: 0;
    font-size: 1.15em;
}

.pricing-box-featured .easy_btn{
    margin-top: 70px;
}

.pricing-box-dark{
    box-shadow: none;
    color: #fff;
    text-align: right;
}
.circle {
    min-width: 100px;
    min-height: 100px;
    padding-top: 35px;
    display: inline-block;
    border-radius: 50% !important;
}

.circle small{
    font-size: 0.6em !important;
}

.text-gray{
    color: gray;
}

.triangle-after1:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    z-index: 1;
}

.icon-circle .fa, .icon-circle .fab, .icon-circle .far, .icon-circle .fas{
    font-size: 3em;
    line-height: 130px;
    border: none;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 35px rgba(140, 152, 164, 0.2);
    webkit-transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
    transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.icon-circle .fa:hover, .icon-circle .fab:hover, .icon-circle .far:hover, .icon-circle .fas:hover{
    color: #fff;
    box-shadow: none;
}

.box1{
    box-sizing: border-box;
    width: 120%;
    height: auto;
    min-height: 300px;
    padding: 30px;
    margin-top: 50px;
    margin-right: -20%;
    background: #fff;
    z-index: 4;
    box-shadow: 0 10px 45px rgba(0,0,0,.1);
    transition: all ease-in .3s;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}

.box1.rev{
    margin-right: auto;
    margin-left: -20%;
}

.box11{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section.section blockquote{
    border-right: 5px solid #eee;
    padding-right: 15px;
}

.icon-circle2 .fa, .icon-circle2 .fab, .icon-circle2 .far, .icon-circle2 .fas{
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 50px;
    font-size: 2em;
    color: #fff;
    background-color: #551B74;
    border: 3px solid #fff;
    box-sizing: content-box;
}

.icon-circle2 .fa:hover, .icon-circle2 .fab:hover, .icon-circle2 .far:hover, .icon-circle2 .fas:hover{
    box-shadow: 0 0 0 2px #333;
}

#footer .background_color_div{
    border-top: 6px solid rgba(0,0,0,0.2);
}

.social-icon-footer{
    background-color: rgba(255,255,255,0.1);
    width: 32px;
    height: 32px;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    transition: all ease-in 0.1s;
}

.social-icon-footer:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.social-icon-footer a{
    display: block;
    color: #ccc;
}

.copy_right{
    height: 70px;
    line-height: 70px;
    font-size: 0.9em;
    color: #ccc;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0px;
}
